* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.itemDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.itemImg {
    height: 400px;
}

.itemTitle {
    font-size: 20px;
}
